<div
  style="
    position: fixed;
    height: 5vh;
    display: flex;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: lightslategray;
  "
>
  <div class="card-header">
    <p style="color: white; font-weight: bold">&#169; All Rights Reserved</p>
    <!-- <footer class="blockquote">
      <cite title="Source Title" style="color: White">Ankit</cite>
    </footer> -->
  </div>
</div>
